behave==1.2.6
certifi==2020.12.5
chardet==4.0.0
dict2xml==1.7.0
dicttoxml==1.7.4
docstringer==0.1.1
idna==2.10
mock==4.0.3
numpy==1.20.1
pandas==1.2.3
parse==1.19.0
parse-type==0.5.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
urllib3==1.26.4
websocket-client==0.58.0
coverage==4.5.2
pytest==5.2.0
pytest-cov==2.6.1
pytest-flakes==2.0.0
pytest-pep8
pytest-pythonpath
psycopg2-binary